.footer {
  width: 100%;
  margin-top: 70px;

  .container {
    max-width: 1170px;
  }
  &__top {
    background-color: rgba(255, 255, 255, 0.031);
    position: relative;
    span {
      a {
        width: 60px;
        height: 60px;
        display: block;
        position: absolute;
        left: 90%;
        top: -30px;
        content: "";
        background-color: $primary;
        border-radius: 50%;
        background-image: url("../../images/arrow-top.png");
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }

  &__inner {
    display: flex;
    padding: 45px 0;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
    &-text {
      max-width: 210px;
      font-weight: 500;
      line-height: 1.357;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    &-mail {
      font-size: 16px;
      line-height: 1.2;
      display: flex;
      align-items: center;
      img {
        margin-right: 12px;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    &-tel {
      margin-left: 50px;
      font-size: 19px;
      font-weight: 700;
      line-height: 1.2;
      display: flex;
      align-items: center;
      img {
        margin-right: 12px;
      }
    }
    &-btn {
      margin-left: 40px;
      display: flex;
      align-items: center;
      font-size: 16px;
      color: $primary;
      line-height: 1.2;
      padding: 15px 55px;
      border: 1px solid $primary;
      border-radius: 30px;
      img {
        margin-right: 12px;
      }
    }
  }

  &__bot {
    &-inner {
      font-size: 13px;
      color: rgb(126, 126, 126);
      line-height: 1.462;
    }
    &-top {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      position: relative;

      &::after {
        position: absolute;
        display: block;
        content: "";
        top: 100%;
        width: 100%;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.039);
      }
    }
    &-bottom {
      padding: 15px 0;
      font-size: 12px;
      br {
        display: none;
      }
    }
    &-link {
      text-decoration: underline !important;
    }
  }
}
@media only screen and (max-width: 1260px) {
  .footer {
    &__right {
      &-tel {
        margin-left: 25px;
        font-size: 15px;
      }
      &-btn {
        margin-left: 20px;
        padding: 15px 25px;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .footer {
    &__top {
      span {
        a {
          left: 80%;
        }
      }
    }
    &__inner {
      flex-direction: column;
      align-items: center;
    }
    &__left {
      flex-direction: column;
      gap: 10px;
      &-text {
        text-align: center;
      }
    }
    &__right {
      margin-top: 10px;
      flex-direction: column;
      &-tel {
        margin: 10px 0;
        margin-left: 0;
        font-size: 19px;
        order: 1;
      }
      &-btn {
        order: 3;
        margin-top: 20px;
        margin-left: 0;
        min-width: 248px;
        justify-content: center;
      }
      &-mail {
        order: 2;
      }
    }
    &__bot {
      &-top {
        flex-direction: column;
        text-align: center;
      }
      &-link {
        margin-top: 10px;
      }
      &-bottom {
        text-align: center;
        font-size: 12px;
        br {
          display: block;
        }
      }
    }
  }
}
