.info {
  margin: 50px 0;
  position: relative;
  overflow: hidden;

  .container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
  }

  &__item {
    position: relative;
    &:not(:first-child) {
      margin-top: 160px;
    }

    &:nth-child(1),
    &:nth-child(3) {
      padding-left: calc((100% - 1170px) / 2 + 10px);
      &::after {
        content: url("../images/bggg.png");
        height: 100%;
        position: absolute;
        top: 0;
        right: -600px;
      }
    }

    &:nth-child(2),
    &:nth-child(4) {
      padding-right: calc((100% - 1170px) / 2 + 10px);
      &::after {
        content: url("../images/bggg-180deg.png");
        height: 100%;
        position: absolute;
        top: 0;
        left: -600px;
      }
    }

    &:nth-child(2),
    &:nth-child(4) {
      margin-left: auto;
      padding-bottom: 50px;

      .info__item {
        &-top {
          margin-left: auto;
        }

        &-bot {
          grid-template-columns: 1fr 635px;
          position: relative;
          z-index: 2;
        }

        &-elem {
          width: 56px;
          height: 56px;
          margin-left: auto;
          margin-right: 175px;
          position: relative;

          &::before {
            content: "";
            width: 146px;
            height: 2px;
            position: absolute;
            top: 50%;
            right: -176px;
            left: auto;
            transform: translateY(-50%);
            background: $primary;
          }

          &::after {
            content: "";
            width: 2px;
            height: 260px;
            position: absolute;
            bottom: -310px;
            left: 50%;
            transform: translateX(-50%);
            background: $primary;
          }
        }
      }
    }

    &-top {
      max-width: 635px;
    }

    &-title {
      font-size: 19px;
      color: $primary;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }

    &-subtitle {
      margin-top: 15px;
      font-size: 34px;
      font-weight: 800;
      color: $white;
      text-align: center;
    }

    &-text {
      margin-top: 30px;
      font-size: 17px;
      color: $white;
      text-align: center;

      span {
        color: $primary;
      }
    }

    &-bot {
      margin-top: 65px;
      display: grid;
      grid-template-columns: 635px 1fr;
      gap: 15px;
      align-items: center;
      position: relative;
      z-index: 2;
    }

    &-img {
      max-width: 635px;
      padding: 0 30px;
      position: relative;

      img {
        border-radius: 10px;
      }

      &::before,
      &::after {
        content: "";
        width: 194px;
        height: 140px;
        position: absolute;
        top: -30px;
        right: 0;
        border-radius: 10px;
        background-image: -moz-linear-gradient( 90deg, rgb(229,179,141) 0%, rgb(189,131,90) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(229,179,141) 0%, rgb(189,131,90) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(229,179,141) 0%, rgb(189,131,90) 100%);
        box-shadow: 0px 13px 18px 0px rgba(241, 193, 155, 0.13);
        z-index: -1;
      }

      &::after {
        top: auto;
        right: auto;
        left: 0;
        bottom: -30px;
      }
    }

    &-elem {
      width: 56px;
      height: 56px;
      margin-left: 175px;
      position: relative;

      &::before {
        content: "";
        width: 146px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: -176px;
        transform: translateY(-50%);
        background: $primary;
      }

      &::after {
        content: "";
        width: 2px;
        height: 260px;
        position: absolute;
        bottom: -290px;
        left: 50%;
        transform: translateX(-50%);
        background: $primary;
      }
    }
  }

  &__btn {
    margin-top: 155px;
    margin-left: 170px;
    display: inline-block;
    padding: 5px;
    border: 1px solid $primary;
    border-radius: 30px;
  }
}

@media only screen and (max-width: 1260px) {
  .info {
    .container {
      max-width: 1160px;
      padding: 0 20px;
    }
    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__item {
      &-top {
        margin: 0 auto;
      }
      &-bot {
        display: flex;
        justify-content: center;
      }
      &-img {
        margin: 0 auto;
      }
      &-elem {
        display: none;
      }
    }
    &__btn {
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .info {
    &__item {
      &-top {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &-subtitle {
        text-align: center;
        font-size: 32px; // 26
      }
      &-title {
        text-align: center;
        font-size: 14px;
      }
      &-text {
        font-size: 14px;
        margin-top: 15px;
      }
    }
    &__btn {
      margin-top: 110px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .info {
    margin: 0;
    padding: 70px 0;

    &__item {
      &:not(:first-child) {
        margin-top: 80px;
      }

      &:nth-child(1),
      &:nth-child(3) {
        &::after {
          content: url("../images/ino-mob-bg.png");
          width: 100%;
          height: 100%;
          position: absolute;
          top: -70px;
          right: 66px;
        }
      }

      &:nth-child(2) {
        &::after {
          content: none;
        }
      }

      &:nth-child(4) {
        &::after {
          content: url("../images/ino-mob-bg.png");
          width: 100%;
          height: 100%;
          position: absolute;
          top: -45px;
          left: -67px;
        }
      }

      &-img {
        &::before,
        &::after {
          width: 140px;
          height: 100px;
        }
      }

      &-subtitle {
        font-size: 26px;
      }
      &-img {
        &::before {
          top: -15px;
          right: 13px;
        }
        &::after {
          left: 13px;
          bottom: -15px;
        }
      }
    }
    &__btn {
      margin-top: 30px;
    }
  }
}
